



<div id="container">
    <div id="header">
        <h1>Header</h1>
        
    </div>
    <div id="wrapper">
        <div id="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="navigation">
        <p><strong>2. Navigation Menu</strong></p>
        <h3>Styling Flex Container</h3>
        <ul>
            <li>flex-direction</li>
            <li>flex-wrap</li>
            <li>justify-content</li>
            <li>align-content</li>
            <li>align-items</li>
        </ul>
        <h3>Designing Flex Items </h3>
        <ul>
            <li>order</li>
            <li>align-self</li>
            <li>flex-grow</li>
            <li>flex-shrink</li>
            <li>flex-basis</li>
        </ul>
    </div>
    <div id="extra">
        <p><strong>3. Additional Stuff</strong></p>
        <h3>In this guide you will learn:</h3>
        <ul>
            <li>How to use CSS Flexbox to build modern layouts</li>
            <li>How to align items both vertically and horizontally</li>
            <li>How to order items within container</li>
            <li>And more</li>
        </ul>
    </div>
    <div id="footer"><p>Footer</p>
    </div>
</div>