.sidenav {
    width: 248px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #0F1829;
    position: fixed;
    top: 0;
}

.mainmenu {
    color: white;
    margin: 0;
}


.VA {

    width: 248px;
    height: 60px;

    background: #FFF;
    margin-top: 80px;


}


.V {


    margin-left: 100px;
    color: #25328E;
    font-family: Chonburi;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.A {
    font-weight: bolder;
    color: #31C35C;
    font-family: Chonburi;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainmenu {

    margin-top: 90px;
    color: #C1BDFF;
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.RFI {
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    background-color: #E91F63;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-weight: bold;

}

.dashboard {
    width: 217px;
    height: 50px;
    flex-shrink: 0;
    background: #2C3345;
    /* justify-content: center; */

    font-family: Gilroy-Medium;
    width: 248px;
    height: 56px;
    text-decoration: none;

}

.summary {
    width: 248px;
    height: 50px;
    flex-shrink: 0;
    background: #5A637C;
    justify-content: center;
    font-family: Gilroy-Bold;
    font-weight: bold;
    flex-shrink: 0
}

.settings {
    width: 248px;
    height: 50px;
    flex-shrink: 0;
    background: #2C3345;
    justify-content: center;
    font-family: Gilroy-Medium;

}

.line {
    width: 248px;
    height: 2px;
    padding-top: 150px;
}

hr {
    background: #C1BDFF;
}

ul {
    list-style-type: none;
    /* Removes the default bullet points */
}

.footer {
    color: #C1BDFF;
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;

}

.footer-logo {
    width: 117px;
    height: 53px;
    flex-shrink: 0;
    margin-bottom: 10px;
    color: lightgray;
}

footer {
    position: fixed;
    bottom: 0;
}

li {

    list-style-type: none;
}

.card-header {

    height: 200px;
    flex-shrink: 0;
    background: #FFF;
    padding: 0;


}

/* .sidebar {
    height: 100%;
    width: 250px;
    position:fixed;
    top: 100px;;
    left: 0;
    background-color: #343a40; /* Bootstrap dark background color */
/* padding-top: 56px; Adjust the height of the navbar */
/* color: white; */

.main-content {
    margin-left: 250px;
    /* Adjust the width of the sidebar */
}

body {
    padding-top: 56px;
    /* Adjust the height of the navbar */
}


.header-body {
    margin-left: 280px;
    
}

.header-button {
    background-color: #E91F63;
    border: 0;
    border-radius: 19.5px;
    float: right;
    margin-right: 50px;
   top:0;
    width: 133px;
    height: 39px;

}

.greeting {
    color: #1C1F37;
    font-family: Gilroy-Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.text-notification {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.header-menu{
    width:30px;
    
}

.header-right-icons{
    float:right;
}

.hi{
    float:right;
}

.second{
    padding-left:100px;
}