.sidenav {
    width: 260px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #0F1829;


}

.mainmenu {
    color: white;
    margin: 0;
}


.VA {

    width: 260px;
    height: 60px;

    background: #FFF;
    margin-top: 80px;


}


.V {


    margin-left: 100px;
    color: #25328E;
    font-family: Chonburi;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.A {
    font-weight: bolder;
    color: #31C35C;
    font-family: Chonburi;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainmenu {

    margin-top: 90px;
    color: #C1BDFF;
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.RFI {
    width: 217px;
    height: 50px;
    flex-shrink: 0;
    background-color: #E91F63;
    justify-content: center;
    text-align: left;
    font-weight: bold;
    
}

.dashboard{
width: 217px;
    height: 50px;
    flex-shrink: 0;
    background: #2C3345;
    justify-content: center;
    text-align: left;
    font-weight: bold;
    width: 248px;
    height: 56px;

   
}

.summary{
    width: 248px;
        height: 50px;
        flex-shrink: 0;
        background: #5A637C;
        justify-content: center;
        text-align: left;
        font-weight: bold;
        flex-shrink: 0
       
    }

    .settings{
        width: 248px;
            height: 50px;
            flex-shrink: 0;
            background: #2C3345;
            justify-content: center;
            text-align: left;
            font-weight: bold;
           
        }

ul {
    list-style-type: none;
    /* Removes the default bullet points */
}

li {
    
    list-style-type: none;
}

