<div class="container-fluid p-0">
    <div class="row">
        <!-- Side Navbar -->
        <nav class="sidenav col-md-2 d-none d-md-block sidebar border-primary">
            <!-- Sidebar content-->

            <div class="VA ">

                <span class="V ">V</span>
                <span class="A">A</span>

            </div>
            <div class="mainmenu ms-4 mb-2">
                MAIN MENU
            </div>

            <div>

                <!-- <ul>
                    <button>
                        <li class="pt-3 text-white">RFI</li>
                    </button>
                    <button>
                        <li class="pt-2 text-white">Dashboard</li>
                    </button>
                    <a>
                        <li class="text-white">Summary</li>
                    </a>
                    <a>
                        <li class="text-white">Settings</li>
                    </a>
                </ul> -->


                <div class="">
                    <ul>
                        <button class="RFI rounded text-white">
                            RFI
                        </button>
                    </ul>
                    <li class="dashboard text-white ">Dashboard</li>
                    <li class="summary text-white">summary</li>


                    

                    <li class="settings text-white">Settings</li>

                    <div class="mainmenu ms-4 mb-2">
                        General
                    </div>
                    <li class="dashboard text-white ">Help & Support</li>
                    <li class="dashboard text-white">Password Change</li>

                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="d-flex col-md-9 col-lg-10 px-1">
            <!-- Main content goes here -->Content

        </main>
    </div>
</div>